---
import { db } from 'astro:db';
import BlogPost from '../../layouts/BlogPost.astro';
import { articles } from 'astro:db';
import { eq } from 'astro:db';

const { slug } = Astro.params;

if (!slug) {
  return Astro.redirect("/404");
}

const [arti] = await db
	.select()
	.from(articles)
	.where(eq(articles.slug, slug))
	.limit(1)
if (!arti) {
  return Astro.redirect("/404");
}

export const prerender = false
---

<BlogPost title={arti.title} description={arti.description} publishedAt={arti.publishedAt} updatedAt={arti.updatedAt}>
	<p>{arti.content}</p>
</BlogPost>
